In [1]:
#probability of getting 3 when a die is rolled
ns = 6  #sample space, n(S)={1,2,3,4,5,6}
na = 1  #preferred outcomes, n(A)={3} 
pa = na/ns
print("Probability of getting 3 when a die is rolled is:",pa)

Probability of getting 3 when a die is rolled is: 0.16666666666666666

In [3]:
#Probability of getting atleast 1 head when a coin is tossed thrice
ns=8 #n(S)={HHH,HHT,HTH,THH,HTT,THT,TTH,TTT}
na=7
pa=na/ns
print("probability of getting atleast one head when a coin is tossed thrice is:",pa)

probability of getting atleast one head is: 0.875

In [5]:
#A glass jar contains 5 red, 3 blue and 2 green jelly beans.
#IF a jelly bean is choosen at random from the jar,
#what is the probability that it is not blue?
ns=10 #S={R,R,R,R,R,B,B,B,G,G}
na=7 
pa=na/ns
print("Probability of getting jelly bean that is not blue is:",pa)

Probability of getting jelly bean that is not blue is: 0.7

In [7]:
#If the probability that person A will be alive in 20 years is 0.7 and the
#probability that person B will be alive in 20 years is 0.5, 
#what is the probability that they will both be alive in 20 yrs?
#These are independent event so
pa=0.7*0.5
print("Proabability that they both will be alive after 20 years is:",pa)

Proabability that they both will be alive after 20 years is: 0.35

In [8]:
def event_probability(n,s):
    return n/s

In [9]:
#A fair die is tossed twice. Find the probability of getting a 4 or 5 on the first toss
#and a 1,2 or 3 in the second toss.
pa=event_probability(2,6) #probability of getting 4 or 5 on first toss
pb=event_probability(3,6)#probability of getting 1,2 or 3 in the second toss
p=pa*pb 
print("Probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss is:",p)

Probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss is: 0.16666666666666666

In [13]:
#A bag contains 5 white marbles, 3 black marbles and 2 green marbles.
#In each draw, a marble is drawn from the bag and not replaced. In three draws, find the probability of 
#obtaining white, black and green in that order.
pa=event_probability(5,10)
pb=event_probability(3,9)
pc=event_probability(2,8)
p=pa*pb*pc
print("Probability of obtaining white, black and green in that order is:",p)

Probability of obtaining white, black and green in that order is: 0.041666666666666664

In [14]:
#Sample space
cards = 52
#Calculat6e the probability of drawing the heart or a club
hearts=13
club=13
heart_or_club= event_probability(hearts,+)+event_probability(club,cards)
print("Probability of drawing the heart or a club is:",hearts_or_club)

Probability of drawing the heart or a club is: 0.5

In [16]:
#Calculate the probability of drawing an ace, queen or king
cards = 52   #sample space
ace = 4
queen = 4
king = 4
ace_queen_or_king = event_probability(ace,cards) + event_probability(queen,cards) + event_probability(king,cards)
print("Probability of drawing an ace, queen or king is:",ace_queen_or_king)

Probability of drawing an ace, queen or king is: 0.23076923076923078

In [23]:
#Calculate the probability of drawing an heart or an ace
cards=52 #sample space
ace=4
heart=13
ace_of_hearts=1
heart_or_ace=event_probability(heart,cards)+event_probability(ace,cards)-event_probability(ace_of_hearts,cards)
print("Probability of drawing a heart or an ace is:",round(heart_or_ace,2))

Probability of drawing a heart or an ace is: 0.31

In [24]:
#Calculate the probability of drawing red card or face cards
cards = 52
red = 26
face_cards = 12
red_face_cards = 6
red_card_or_face_card = event_probability(red,cards) + event_probability(face_cards,cards) - event_probability(red_face_cards,cards) 
print("Probability of drawing an red card or face card is:",round(red_card_or_face_card, 2))

Probability of drawing an red card or face card is: 0.62

In [26]:
#probability of not getting 5 when a die is rolled
ns=6
na=1
pa=(na/ns)
print("Probability of not getting 5 is",round(1-pa,2))

Probability of not getting 5 is 0.83

In [27]:
#Suppose you draw 2 cards from deck.
#You win if if you get ace given that you draw a jack in first draw.
cards = 52   #Sample Space
jack = 4   #Jack
ace = 4
pj = event_probability(jack,cards)
pa = event_probability(ace,51)
pa_given_j = (pj * pa) / pj
print("Probability of winning",round(pa_given_j,4))

Probability of winning 0.0784

# Conditional Probability

In [29]:
import pandas as pd
import numpy as np
df = pd.read_csv("student-mat[1].csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [30]:
len(df)

395

In [36]:
df["grade_A"] = np.where(df["G3"]*5 >= 80, 1, 0)

In [35]:
df["high_absences"] = np.where(df["absences"] >= 10, 1, 0)

In [37]:
df["count"] = 1

In [38]:
df = df[["grade_A", "high_absences", "count"]]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [39]:
final = pd.pivot_table(
    df,
    values = "count",
    index = ["grade_A"],
    columns = ["high_absences"],
    aggfunc = np.size,
    fill_value = 0
)
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [40]:
a = (final.iloc[1,0])
a

35

In [41]:
pa = (final.iloc[1,0] + final.iloc[1,1]) / (final.iloc[0,0] + final.iloc[0,1] + final.iloc[1,0] + final.iloc[1,1])
pa

0.10126582278481013

In [42]:
pb = (final.iloc[0,1] + final.iloc[1,1]) / (final.iloc[0,0] + final.iloc[0,1] + final.iloc[1,0] + final.iloc[1,1])
pb

0.21012658227848102

In [43]:
pa_or_pb = (final.iloc[1,1]) / (final.iloc[0,0] + final.iloc[0,1] + final.iloc[1,0] + final.iloc[1,1])
pa_or_pb

0.012658227848101266

In [44]:
a_given_b = pa_or_pb / pb
a_given_b

0.060240963855421686

In [46]:
print("The probability of student getting at least an 80% final grade... is", round(a_given_b,2))

The probability of student getting at least an 80% final grade... is 0.06